# Running SAR on MovieLens (Single Node)

SAR is a fast scalable adaptive algorithm for personalized recommendations based on user transaction history and item descriptions. It produces easily explainable / interpretable recommendations and handles "cold item" and "semi-cold user" scenarios.

In [39]:
# set the environment path to find Recommenders
import sys
sys.path.append("..")

from utilities.recommender.sar.sar_singlenode import SARSingleNodeReference
from utilities.dataset.url_utils import maybe_download
#TODO from utilities.dataset.splitters_python import
#TODO from utilities.evaluation.python_evaluation import PythonRankingEvaluation, PythonRatingEvaluation

import datetime
import itertools
import pandas as pd

First, let's download the MovieLens dataset:

In [57]:
filepath = maybe_download('http://files.grouplens.org/datasets/movielens/ml-100k/u.data', 'ml-100k.data')
data = pd.read_csv('ml-100k.data', sep='\t', names=['UserId', 'MovieId', 'Rating', 'Timestamp'])

In [58]:
display(data.head())

   UserId  MovieId  Rating  Timestamp
0     196      242       3  881250949
1     186      302       3  891717742
2      22      377       1  878887116
3     244       51       2  880606923
4     166      346       1  886397596

Next, we split the data using the provided Random Splitter utility function:

In [78]:
## TODO fix the splitter
train = data[:80000]
test = data[80000:]

In [59]:
EPOCH = datetime.datetime.utcfromtimestamp(0)

In [77]:
header = {
        "col_user": "UserId",
        "col_item": "MovieId",
        "col_rating": "Rating",
        "col_timestamp": "Timestamp",
    }

model = SARSingleNodeReference(
                remove_seen=True, similarity_type="jaccard", 
    time_decay_coefficient=30, time_now=None, timedecay_formula=True, **header
            )

In [61]:
unique_users = data[header["col_user"]].unique()
unique_items = data[header["col_item"]].unique()

In [63]:
# Hash users and items to smaller continuous space.
# Actually, this is an ordered set - it's discrete, but contiguous.
# This helps keep the matrices we keep in memory as small as possible.
enumerate_items_1, enumerate_items_2 = itertools.tee(enumerate(unique_items))
enumerate_users_1, enumerate_users_2 = itertools.tee(enumerate(unique_users))
item_map_dict = {x: i for i, x in enumerate_items_1}
user_map_dict = {x: i for i, x in enumerate_users_1}

In [64]:
# the reverse of the dictionary above - array index to actual ID
index2user = dict(enumerate_users_2)
index2item = dict(enumerate_items_2)

In [65]:
# we need to index the train and test sets for SAR matrix operations to work
model.set_index(unique_users, unique_items, user_map_dict, item_map_dict, index2user, index2item)

In [75]:
model.fit(train)
top_k = model.recommend_k_items(test)

INFO:utilities.recommender.sar.sar_singlenode:Collecting user affinity matrix...
INFO:utilities.recommender.sar.sar_singlenode:Deduplicating the user-item counts
INFO:utilities.recommender.sar.sar_singlenode:Creating index columns...
INFO:utilities.recommender.sar.sar_singlenode:Building user affinity sparse matrix...
INFO:utilities.recommender.sar.sar_singlenode:Calculating item cooccurrence...
INFO:utilities.recommender.sar.sar_singlenode:Calculating item similarity...
INFO:utilities.recommender.sar.sar_singlenode:Calculating jaccard...
/Users/nikhil/anaconda/lib/python3.6/site-packages/scipy/sparse/base.py:594: RuntimeWarning: divide by zero encountered in true_divide
  return np.true_divide(self.todense(), other)
/Users/nikhil/anaconda/lib/python3.6/site-packages/scipy/sparse/base.py:594: RuntimeWarning: invalid value encountered in true_divide
  return np.true_divide(self.todense(), other)
INFO:utilities.recommender.sar.sar_singlenode:Calculating recommendation scores...
INFO:utilities.recommender.sar.sar_singlenode:done training
INFO:utilities.recommender.sar.sar_singlenode:Converting to dense matrix...
../utilities/recommender/sar/sar_singlenode.py:414: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  test[self._col_hashed_users] = test[self.col_user].map(self.user_map_dict)
INFO:utilities.recommender.sar.sar_singlenode:Removing seen items...
INFO:utilities.recommender.sar.sar_singlenode:Getting top K...
INFO:utilities.recommender.sar.sar_singlenode:Select users from the test set
INFO:utilities.recommender.sar.sar_singlenode:Creating output dataframe...
INFO:utilities.recommender.sar.sar_singlenode:Formatting output

In [76]:
display(top_k)

     UserId MovieId  prediction
2358    450     423  327.310061
2359    450     186  315.724112
2357    450      69  315.578446
2356    450     234  308.525880
2353    450      22  300.044321
3637    276     161  299.768093
2354    450     228  298.917211
2355    450     732  290.929073
3639    276     216  289.116409
633     416       4  287.602372
3638    276     172  286.005712
634     416      79  285.858762
639     416     186  284.986066
3636    276      89  284.526106
3634    276      97  284.451310
632     416     655  281.078799
2352    450     209  280.779819
637     416     228  279.681104
631     416      96  279.541098
4305     59       4  278.563094
2351    450      11  278.511060
1685     13     135  277.812919
3635    276     132  277.629367
2350    450      72  277.301759
636     416     566  276.499791
638     416      89  276.473573
635     416      95  273.925722
1687     13     203  273.647334
4938    303     196  272.309058
3633    276     191  271.529093
...     ...     ...         ...
7105    685     328    4.157853
4967    813     323    4.125957
3295    873     748    4.081942
7106    685     300    4.055995
4968    813     678    4.045208
4969    813     748    4.017287
7102    685     303    4.016736
3294    873     333    4.000664
4966    813     328    3.957337
3293    873     323    3.939787
4965    813     243    3.934703
3292    873     302    3.903775
7101    685     748    3.891879
7100    685     313    3.877070
4961    813     333    3.850848
4963    813     301    3.816399
4964    813     343    3.812794
4962    813     300    3.811479
4959    866     269    3.782803
3291    873     289    3.765364
4960    813     690    3.745807
3290    873     269    3.742167
4957    866     301    3.613680
4955    866     268    3.598960
4953    866     286    3.568349
4956    866     327    3.285858
4954    866     262    3.161167
4952    866     340    3.147203
4951    866     328    3.132613
4950    866     258    3.123015

[9270 rows x 3 columns]